.content-preview {
  min-width: 300px;
  height: 300px;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 1px 1px;
  /* cursor: pointer; */
}

.content-container {
  text-align: left;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 1) 70%
  );
  padding: 1rem;
}

.content-head {
  flex-grow: 1;
}

.content-title {
  font-weight: bold;
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-description {
  color: white;
}

.content-extra {
  position: relative;
  color: white;
  height: 0px;
  opacity: 0;
  transition: all 0.35s ease-out;
}
.content-extra.expanded {
  transition: all 0.35s ease-out;
  height: 240px;
  opacity: 1;
}

.content-expander {
  color: white;
  text-align: center;
  grid-area: 1/1;
  position: relative;
  color: white;
  height: 0px;
  opacity: 0;
  transition: all 0.35s linear;
}
.content-expander.hover {
  opacity: 1;
  height: 5px;
  transition: all 0.15s linear;
}

.content-page {
  display: "flex";
  flex-wrap: "wrap";
}

.content-profile-link {
  padding: 4px;
}

.content-profile-link:hover {
  color: #f1c40f;
  cursor: pointer;
}
