.content-preview {
  min-width: 300px;
  height: 300px;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  /* cursor: pointer; */
}

.content-container {
  text-align: left;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 90%
  );
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.content-head {
  flex-grow: 1;
}


.content-title {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.content-description {
  color: white;
}

.content-expander{
  color: white;
  text-align: center;
  grid-area: 1/1;
  position: relative;
  color: white;
  height: 0px;
}

.content-extra{
  position: relative;
  color: white;
  height: 0px;
}