.nav {
  height: 3rem;
  background-color: black;
  color: white;
  display: flex;
  padding: 0px 1rem 0px 1rem;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.nav > * {
  height: 100%;
  align-self: center;
  margin: auto;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.sort-options-label {
  margin-left: "2rem";
  margin-right: "1rem";
  display: "flex";
  color: "white";
  align-items: "center";
}

@media (max-width: 992) {
  .sort-options-label {
    display: none;
  }
}
