.play-btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
  text-decoration: none;
  text-align: center;
  align-items: center;
  align-content: center;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 12pt;
}

.play-btn > svg{
    transform: translate(0, -50%);
}