.playhead {
  height: 2rem;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-right: 8px;
  padding-right: 4px;
}

.playhead-control {
  color: white;
  font-size: 32;
  height: 100%;
}

.playhead-text {
  color: white;
  white-space: nowrap;
  font-size: 10pt;
  align-self: center;
  margin: 0 2px 0 1px;
}

.playhead-text.likes {
  color: #2ecc71;
}

.playhead-text.dislikes {
  color: #e74c3c;
}
