.timeline{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.timeline-bar.current{
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #2980b9;
}

.timeline-bar-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.timeline-bar-container:hover{
    cursor: pointer;
}


.timeline-bar{
    width: 100%;
    height: 2px;
    background-color: #09192f;
}

.timeline-time{
    color: white;
    white-space: nowrap;
    font-size: 8pt;
}
